@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Lato:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: rgb(13, 106, 134);
    --primary-color-darker:rgb(10, 83, 105);
}

* {
    box-sizing: border-box;
    outline: 0;
    font-family: 
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}

form button:active {
    background: rgb(164, 31, 31);
}

.paragrafo-resultado {
    background: rgb(114, 234, 156);
    padding: 10px 20px;
}